body{
	   	background: rgb(237, 249, 254);
    	color: rgb(0, 28, 85);
    	
	} 
    html{
        scroll-behavior: smooth;
    }
.nav_top{
		width: 100%;
		margin-top: 20px;
		height: 50px;	

	}
.nav_top a{
		float: left;
		text-decoration: none;
		padding: 5px;
		margin-top: 10px;
		margin-left: 100px;
		font-size: 20px;
       
  		font-style: bold;		
	}

.image,.education_icon,.Project_icon,.contact{
  			width: 50%;
  			right: 0;
		   	height: fit-content;
		   
  			position: absolute;
      		z-index: 1;
      		top: 0;
      		overflow-x: hidden;
     		

}
.contact,.my_image{
    margin-top: 4200px;
    padding-top: 20px;
}

.bio,.education_image,.clg_icon,.Project_image,.my_image{
  		width: 50%;
  		left: 0;  		
  		height: fit-content;
     	top: 0;
     	position: absolute;
      	z-index: 1;
      	overflow-x: hidden;
    }
.info{
  			font-size: 20px;
  			font-style: bold;
  			margin-left: 100px;
  			text-align: left;
  	}

.main-button {
    font-size: 20px;
   
    padding: 12px 18px;
    color: rgb(237, 249, 254);
    background-color: rgb(0, 28, 85);
    margin-right: 250px;
    border: 1px solid rgb(0, 28, 85);
    width: fit-content;
    height: fit-content;
     border-radius: 7px;
    float: right;
}
 
 .education_image,.education_icon{
 		margin-top: 550px;
 		padding-top: 100px;

 }
.Project_image,.Project_icon{
    margin-top: 2500px;
        padding-top: 20px;

}
.projects{
    margin-top: 450px;
        padding-top: 20px;
}

 .clg_details_degree,.clg_icon_degree{
 	margin-top: 1000px;	
 	padding-top: 120px;

 }
.clg_details_diploma,.clg_icon_diploma{
    margin-top: 1500px; 
    padding-top: 10px;
}
.content-list {
    padding-left: 10px;
    padding-right: 10px;
    font-family: Google Sans Regular;
}
.visit-btn {
    background-color: rgba(14, 107, 168, 0.467);
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 10px;
    border-radius: 7px;
    border: 0;
    height: fit-content;
    
}    
.certificates{
    margin-top: 10px;
    padding-top: 20px;
    margin-left: 300px;
}
.clg_details_diploma,.clg_details_degree{
            width: 70%;
            right: 0;
            height: 100%;
           
            position: absolute;
            z-index: 1;
            top: 0;
            overflow-x: hidden;

}
.clg_icon_diploma,.clg_icon_degree{

        width: 30%;
        left: 0;        
        height: 100%;
        top: 0;
        position: absolute;
        z-index: 1;
        overflow-x: hidden;
}
.card-title {
    font-size: 20px;
}
.card-subtitle, .card-title,.body-header-duration {
    font-family: Google Sans Medium;
    margin-left: 20px;
}


.competitive-sites-inline {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    font-family: Google Sans Regular;
}

 
.dev-icons {
    padding-left: 0;
    list-style: none;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}


